* {
	/*обнуляем все отступы, семейство шрифтов без засечек*/
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	/*выравнивание текста в теле страницы по центру*/
	text-align: center;
}

h1	{
	/*выравниваем тег по центру и добавляем отступы сверху и снизу*/
	margin: 35px auto;
	/*текст по центру*/
	text-align: center;
}

.container_persona {
	/*задаём перспективу дальностью 1000 пикселей, действует на дочерние элементы*/
	perspective: 1000px;
	/*ширина, высота, внешние отступы и блочно-строчное поведение*/
	width: 250px;
	height: 300px;
	margin: 0 15px;
	display: inline-block;
}

.persona {
	/*позиционирование относительное, видимо для дочерних*/
	position: relative;
	/*курсор над элементом - указатель*/
	cursor: pointer;
	/*ширина и высота*/
	width: 250px;
	height: 300px;
	/*ставим время анимаций в будущем*/
	transition: 1s;
	/*создаём единое 3-д пространство для дочерних элементов*/
	transform-style: preserve-3d;
}

.container_persona:hover .persona {
	/*при наведении курсора задаём вращение относительно вертикальной оси на 180, получается зеркально*/
	transform: rotateY(180deg);
}

.persona_foto {
	/*ширина и высота*/
	width: 250px;
	height: 300px;
	/*скрываем всё, что выходит за область родителя*/
	overflow: hidden;
	/*приоритет при наслаивании на другие элементы*/
	z-index: 2;
	/*абсолютное позиционирование, относительно родителя, который не статичный*/
	position: absolute;
	/*указываем позицию*/
	top: 0;
	left: 0;
	/*скрываем заднюю поверхность элемента, хотя её вроде и не было*/
	backface-visibility: hidden;
	/*скругляем углы*/
	border-radius: 15px;
}

.persona_info {
	/*ставим фон и размеры, при этом скруглённые углы снова прямые, залиты чёрным цветом*/
	background-color: #000;
	width: 250px;
	height: 300px;
	/*текст по центру*/
	text-align: center;
	/*абсолютное позиционирование c отправными точками*/
	position: absolute;
	top: 0;
	left: 0;
	/*приоритет при наслаивании*/
	z-index: 1;
	/*снова скрываем заднюю поверхность элемента, как я понял, при повороте он просто не становится зеркальным. Это позволяет сделать как бы обратную сторону визитки*/
	backface-visibility: hidden;
	/*элемент перевёрнут изначально, и когда применяется hover - он вместе с ним и становится видна его лицевая сторона*/
	transform: rotateY(180deg);
	/*скругляем углы*/
	border-radius: 15px;
}

.persona_info h3 {
	/*отступы и цвет текста*/
	padding-top: 15px;
	color: #f3f3f3;
}

.persona_info > a {
	/*цвет текста, лочное поведение, отступы и убираем подчёркивания*/
	color: #f3f3f3;
	display: block;
	margin: 20px auto;
	text-decoration: none;
}

.persona_info > a > i {
	/*иконки делаем крупнее, блочными, с отступами*/
	color: #fff;
	font-size: 32px;
	display: block;
	margin-bottom: 10px;
}