* {
	/*обнуляем все отступы*/
	padding: 0;
	margin: 0;
}

@keyframes rotate {
	/*указываем кадры для будущей анимации*/
	100% { transform: rotate(360deg); }
}

.wrap {
	/*задаём ширину, высоту, границу, стиль поведения, внешние отступы*/
	width: 200px;
	height: 150px;
	outline: 1px solid #000;
	display: inline-block;
	margin: 35px 50px;
}

.wrap > div {
	/*устанавливаем ширину и высоту*/
	width: 200px;
	height: 150px;
	/*фон*/
	background: rgba(144, 235, 242, 0.5);
	/*стиль поведения*/
	display: inline-block;
	/*позиционирование относительно своего положения и позволяет задавать потомкам позиционирование относительно себя при абсолютном позиционировании у оных*/
	position: relative;
	/*приоритет отображения при перекрытии*/
	z-index: 2;
	/*создаём ту самую анимацию, что мы описывали в начале*/
	animation: rotate 6s linear infinite;
}

.wrap > div > span {
	/*позиционируем элемент относительно родительского элемента*/
	position: absolute;
	/*смещаем вниз*/
	top: 45%;
	/*задаём ширину всего родительского блока*/
	width: 100%;
	/*текст по центру*/
	text-align: center;
}

.element-1 {
	/*задаём координаты оси нашей анимации: 50% от лева и 50% от топа*/
	transform-origin: 50% 50%;
}

.element-2 {
	/*задаём координаты оси нашей анимации: верхний левый угол*/
	transform-origin: top left;
}

.element-3 {
	/*задаём координаты оси нашей анимации: 100% от лева и 0% от топа, эквивалент top right*/
	transform-origin: 100% 0%;
}

.element-4 {
	/*задаём координаты оси нашей анимации: 50px от лева и 50px от топа*/
	transform-origin: 50px 50px;
}