/*keyframes задаёт ключевые кадры анимации и привязывается к имени анимации, в данном случае bouncing. Используется своего рода абстракция, ибо самого имени ещё пока нет, создадим позже*/
@keyframes bouncing {
	/*описываем будущую анимацию: left & bottom предполагает наличие position не static, тень указыватся для первых двух промежутков без смещения и поэтому почти не заметна, потом указывается смещение ровно вниз, и за счёт border-radius у div в будущем, тень круглая*/
	0% { left: 50px; bottom: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
	50% { left: 150px; bottom: 250px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
	100% { left: 350px; bottom: 0px; box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);}
}

div {
	/*задаём свойства и имя анимации: имя, продолжительность, ускорения, задержка перед началом, зацикленность, возвратность, и значение, которое указывает финальный вид анимации - в данном случае оно указывает оставаться в финальном значении для движений в обоих направлениях*/
	animation: bouncing 3s cubic-bezier(.1, .25, .1, 1) 0s infinite alternate both;
	/*фое*/
	background: lightgrey;
	/*стиль отображения блочный, хотя работает и при inline-block, но не при inline*/
	display: block;
	/*ширина и высота*/
	width: 120px;
	height: 120px;
	/*выравниваем текст внутри*/
	text-align: center;
	/*то самое, что делает тень круглой, хотя сама граница не задана*/
	border-radius: 150px;
	/*то, чо позволяет позиционировать элемент*/
	position: relative;
	/*в данном случае внешний отступ удерживает его внутри экрана*/
	margin-top: 250px;
}

div:before {
	/*создаём псевдо-элемент с текстом*/
	content: "Ball";
	/*делаем его блочно-строчным*/
	display: inline-block;
	/*отступ сверху для центровки*/
	margin-top: 40px;
	color: white;
	/*размер шрифта относительно общего для страницы*/
	font-size: 2rem;
}