* {
	/*обнуляем все отступы у всех элементов*/
	padding: 0;
	margin: 0;
}

.wrap {
	/*устанавливаем ширину и высоту*/
	width: 200px;
	height: 150px;
	/*устанавливаем неучитываемую границу*/
	outline: 1px solid #000;
	/*стиль поведения блочно-строчный*/
	display: inline-block;
	/*внешние отступы*/
	margin: 35px 50px;
}

.wrap > div {
	/*устанавливаем ширину и высоту*/
	width: 200px;
	height: 150px;
	/*фон*/
	background: rgba(144, 235, 242, 0.5);
	/*стиль поведения*/
	display: inline-block;
	/*позиционирование относительно своего положения и позволяет задавать потомкам позиционирование относительно себя при абсолютном позиционировании у оных*/
	position: relative;
	/*приоритет отображения при перекрытии*/
	z-index: 2;
	/*время перехода (анимации) при обращении к трансформации*/
	transition: transform 1s;
}

.wrap > div > span {
	/*позиционируем элемент относительно родительского элемента*/
	position: absolute;
	/*смещаем вниз*/
	top:  45%;
	/*задаём ширину всего родительского блока*/
	width: 100%;
	/*текст по центру*/
	text-align: center;
}

.translateX:hover {
	/*при наведении сдвигаем по оси Х - положительное значение, значит вправо*/
	transform: translateX(50px);
}

.translateY:hover {
	/*при наведении сдвигаем по оси Y - положительное значение сдвигает вниз*/
	transform: translateY(50px);
}

.translate:hover {
	/*при наведении сдвигаем вниз и вправо*/
	transform: translate(50px, 50px);
}

.scaleX:hover {
	/*scale изменяет масштаб, а отрицательные значения ещё отражают его, в данном случае по горизонтали, а так как значение равно 1, то масштаб не изменился*/
	transform: scaleX(-1);
}

.scaleY:hover {
	/*scale изменяет масштаб, а отрицательные значения ещё отражают его, в данном случае по вертикали, а так как значение равно 1, то масштаб не изменился*/
	transform: scaleY(-1);
}

.scaleX15:hover {
	/*scale изменяет масштаб, тут по горизонтали*/
	transform: scaleX(1.5);
}

.scale:hover {
	/*меняем масштаб в обоих направлениях*/
	transform: scale(1.5, 0.5);
}

.rotate:hover {
	/*вертим вокруг своей оси на все 360*/
	transform: rotate(360deg);
}

.skewX:hover {
	/*наклоняем элемент относительно горизонта, положительное значение - влево*/
	transform: skewX(45deg);
}

.skewY:hover {
	/*наклоняем относительно вертикали, отрицательное значение - лево вниз*/
	transform: skewY(-45deg);
}

.skew:hover {
	/*одновременно наклоняем по двум осям, при этом сохраняется форма элемента и схоже с эффектом rotate*/
	transform: skew(-20deg, 20deg);
}

.matrix:hover {
	/*функции трансформации в порядке: scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()*/
	transform: matrix(1.5, 0, 0.5, 1.2, 50, 0);
}