body {
	/*цвет фона*/
	background-color: #cecece;
	/*внутренние отступы для body*/
	padding: 32px;
}

button {
	/*внешние отступы для кнопок, inline-block по умолчанию*/
	margin: 25px 15px;
	/*отмена границы, хотя зачем, если сразу же она переопределяется*/
	border: none;
	/*закругление углов границы, хотя пока что её нет в принципе*/
	border-radius: 5px;
	/*назначается граница, и у неё уже предопределены круглые углы. Логично было бы поменять местами правила*/
	border: 1px solid lime;
	/*внутренние отступы кнопок*/
	padding: 15px 35px;
}

/* определяем поведение кнопок при наведении курсора */
button:hover {
	/*задаём не учитываемую в размерах границу для кнопки. Интересно, что она появляется рядом с существующей границей и повторяет её форму*/
	outline: 1px solid white;
	/*определяем расстояние между существующей (чёрной) границей и неучитываемой белой. Отрицательное значение - значит внутри главной границы*/
	outline-offset: -2px;
	/*стиль курсора - указатель*/
	cursor: pointer;
}

.button1 {
	/*задаём фон*/
	background-color: #2563e9;
	/*задаём время исполнения анимаций, например hover'а*/
	transition: 1s;
}

.button1:hover {
	/*при наведении меняется фон в течение 1 сек*/
	background-color: #4478e9;
}

.button2 {
	/*фон*/
	background-color: #2563e9;
	/*время исполнения анимаций*/
	transition: 1s;
	/*к какому свойству применяется время анимаций*/
	transition-property: background;
}

.button2:hover {
	/*при наведении меняется фон*/
	background-color: #e95ad1;
	/*и при этом дополнительная граница исчезает*/
	outline: none;
}