body {
	/*цвет фона*/
	background-color: #cecece;
	/*внутренние отступы для body*/
	padding: 32px;
}

button {
	/*внешние отступы для кнопок, inline-block по умолчанию*/
	margin: 25px 15px;
	/*отмена границы, хотя зачем, если сразу же она переопределяется*/
	border: none;
	/*закругление углов границы, хотя пока что её нет в принципе*/
	border-radius: 5px;
	/*назначается граница, и у неё уже предопределены круглые углы. Логично было бы поменять местами правила*/
	border: 1px solid lime;
	/*внутренние отступы кнопок*/
	padding: 15px 35px;
}

/* определяем поведение кнопок при наведении курсора */
button:hover {
	/*задаём не учитываемую в размерах границу для кнопки. Интересно, что она появляется рядом с существующей границей и повторяет её форму*/
	outline: 1px solid white;
	/*определяем расстояние между существующей (чёрной) границей и неучитываемой белой. Отрицательное значение - значит внутри главной границы*/
	outline-offset: -2px;
	/*стиль курсора - указатель*/
	cursor: pointer;
}

.button1 {
	/*фоном для первой кнопки задаём градиент от голубого к зелёному. Скобки, что примечательно, долны идти сразу за определением свойства, без пробела. По умолчанию, видимо, он идёт сверху вниз*/
	background-image: linear-gradient(#76b9cc, #97cc76);
}

.button2 {
	/*то же, что и в предыдущей кнопке, но больше цветов, указываем через запятую, пробел не обязателен, но желателен*/
	background-image: linear-gradient(#76b9cc, #cc208a, #97cc76);
}

.button3 {
	/*ещё один цвет в градиент*/
	background-image: linear-gradient(#76b9cc, #cc208a, #97cc76, #b34ee9);
}

.button4 {
	/*в процентах задаётся расстояние от начальной точки*/
	background-image: linear-gradient(blue 5%, lime 30%, #97cc76 80%, #b34ee9 90%);
}

.button5 {
	/*как и проценты, видимо задаётся центр цвета, только в пикселях. Любопытно, что если задать предыдущий цвет после сдедующего, то то он будет насыщенным до конца, а следующий цвет уже будет в переходном виде. А если задать слишком много px или %, то он просто зальёт всё пространство. А если назначить одинаковое значение двум цветам, то будет резкий переход*/
	background-image: linear-gradient(blue 5px, lime 15px, white 30px, black 50px);
}

.button6 {
	/*задаём наклон градиента, точка отсчёта градусов при этом сверху!*/
	background-image: linear-gradient(25deg, blue, lime);
}

.button7 {
/* задаём круговой градиент с указанием центров цвета*/
	background-image: radial-gradient(red 0%, yellow 30%);
}

.button8 {
	/*задаём центр сверху справа*/
	background-image: radial-gradient(at top right, red, yellow);
}

.button9 {
	/*задаём размер и центр кругового градиенты*/
	background-image: radial-gradient(farthest-corner at 25% 50%, #f35 0%, #43e 100%);
}

.button10 {
	/*видимо, мы сначала задаём размер 15х15, а потом расположение центра 85% и 25%, последовательность "лево-топ*/
	background-image: radial-gradient(15px 15px at 85% 25%, #f35 0%, #43e 100%);
}